

<div class="container">
  <h2>We're a growth agency for millenials, run by millenials.</h2>
  <p>Born out of Houston, StraightUp Growth was founded by a group of four friends who realized that
    businesses who seek to thrive in this competitive economy, need a certain set of basic elements that
    will set them apart from old and fading companies ... straight up. It's almost as if you're doomed to fail unless you adopt those
    elements. We've curated strategies, analyzed several companies, and are here to help you grow ... straight up to the top.
    Its the only direction on our GPS. Let's go north and leave the competitors at the bottom.</p>
</div> <!-- /.container -->
