
<div class="container">
  <div class="row">
    <div class="one-half column"><%= image_tag "bios/allen.jpg", :class => "bio-pic" %></div>
    <div class="one-half column"><%= image_tag "bios/zubair.jpg", :class => "bio-pic"  %></div>
  </div>

  <div class="row">
    <div class="one-third  column">allen aka a2</div>
    <div class="one-third  column">kazee aka kazman</div>
    <div class="one-third  column">abdulRahman aka</div>
  </div>
</div>
