
<div class="container">

  <div class="row who-we-are">
      <p class="blurb">Born out of Houston, StraightUp Growth was founded by a group of four friends who realized that businesses who seek to thrive in this competitive economy, need a certain set of basic elements that will set them apart from old and fading companies ... <span class="straight-up">straight up</span>. It's almost as if you're doomed to fail unless you adopt those elements. We've curated strategies, analyzed several companies, and are here to help you grow ... <span class="straight-up">straight up</span> to the top. Its the only direction on our GPS. Let's go north and leave the competitors at the bottom.</p>
  </div>

  <div class="row bio-pics">
    <div class="one-half column"><%= image_tag "bios/allen.jpg", :class => "bio-pic" %></div>
    <div class="one-half column"><%= image_tag "bios/zubair.jpg", :class => "bio-pic" %></div>
  </div>

  <div class="row bio-descs">
    <div class="one-half column bio-desc">Allen's Desc</div>
    <div class="one-half column bio-desc">Zubair's Desc</div>      
  </div>

  <div class="row bio-pics">
    <div class="one-half column"><%= image_tag "bios/ar.jpg", :class => "bio-pic" %></div>
    <div class="one-half column"><%= image_tag "bios/kazee.jpg", :class => "bio-pic" %></div>
  </div>

  <div class="row bio-descs">
    <div class="one-half column bio-desc">AR's Desc</div>
  </div>
  
</div>
