
<div class="container">

  <div class="row bio-pics">
    <div class="one-half column"><%= image_tag "bios/allen.jpg", :class => "bio-pic" %></div>
    <div class="one-half column"><%= image_tag "bios/zubair.jpg", :class => "bio-pic" %></div>
  </div>

  <div class="row bio-descs">
    <div class="one-half column bio-desc">Allen's Desc</div>
    <div class="one-half column bio-desc">Zubair's Desc</div>      
  </div>

  <div class="row bio-pics">
    <div class="one-half  column"><%= image_tag "bios/ar.jpg", :class => "bio-pic" %></div>
  </div>

  <div class="row bio-descs">
    <div class="one-half column bio-desc">AR's Desc</div>
  </div>
  
</div>
