
body {
color: white;
}

.nav-links {
  font-family: 'Source Code Pro', monospace;
}

.main-header {
  font-family:'Press Start 2P', monospace;
  font-size: 2em;
}

.blurb {
  font-family: 'Source Code Pro', monospace;
}

.blurb-img {
  max-width: 100%;
}	     
 
.straight-up {
   color: #fff;
   background-color: #000;
}

p {
  font-family: 'Source Code Pro', monospace;
  margin: auto;
}
	   

