
<div id="footer">
  <div class="container">
    supplying love and <span class="service"></span> from houston.
  </div>
</div>

<script>
$(function(){
      $(".service").typed({
          strings: ["branding", "strategy", "marketing", "growth", "photography"],
          typeSpeed: -2,
          loop: true,
          cursorChar: " ❤"
      });
  });
</script>
